{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<!-- Adicione CSS extra aqui, se necessário -->
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Editar Item de Lavanderia</h1></br>

    <form method="post" action="{% url 'update_item_lavanderia' item.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'item_lavanderia_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

{% endblock %}

