{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/governanca/listar_itens.css' %}?v=1.0">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Lista de Itens da Lavanderia</h1>
    <!-- Filtro e botão de busca -->
    <form method="get" action="{% url 'item_lavanderia_list' %}" class="d-flex flex-wrap justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center">
            <!-- Campo de busca -->
            <input type="text" name="search" placeholder="Nome ou Descrição do Item" value="{{ request.GET.search }}" class="form-control me-2" style="width: 300px;">
            
            <!-- Botão de buscar -->
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search me-1"></i> Buscar
            </button>
        </div>

        <!-- Botão de Adicionar Novo Item -->
        <a href="{% url 'create_item_lavanderia' %}" class="btn btn-success">
            <i class="fas fa-plus-circle me-1"></i> Novo Item
        </a>

    </form>

    <!-- Tabela de Itens -->
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th scope="col">CÓDIGO</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Peso KG</th>
                    <th scope="col">Valor Médio</th>
                    <th scope="col" class="text-end">Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for item in itens %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.pesokg }} KG</td> <!-- Adicionando KG ao peso -->
                    <td>R$ {{ item.valormedio|floatformat:2 }}</td> <!-- Formatando como moeda -->
                    <td class="text-end">
                        <a href="{% url 'update_item_lavanderia' item.id %}" class="btn btn-sm btn-warning">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a href="{% url 'delete_item_lavanderia' item.id %}" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash-alt"></i> Excluir
                        </a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhum item encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
{% endblock %}
