{% extends 'core/base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #f4f6f9;">
    <div class="col-md-4">
        <div class="card shadow-lg border-0 rounded-4">
            <div class="card-body p-5">
                <h2 class="text-center mb-4" style="color: #4C6B8C;">Senha Alterada com Sucesso!</h2>
                <p>Sua senha foi alterada com sucesso. Agora você pode acessar sua conta utilizando a nova senha.</p>
                <div class="text-center">
                    <a href="{% url 'login' %}" class="btn btn-primary w-100 py-2">Voltar ao Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
