{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}

{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Lista de Contatos</h1>
    <!-- Filtro e botão de busca -->
    <form method="get" action="{% url 'listar_contatos' %}" class="d-flex flex-wrap justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center">
            <!-- Campo de busca -->
            <input type="text" name="search" placeholder="Nome ou Telefone do Contato" value="{{ request.GET.search }}" class="form-control me-2" style="width: 300px;">
            
            <!-- Botão de buscar -->
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search me-1"></i> Buscar
            </button>
        </div>

        <!-- Botão de Adicionar Novo Contato -->
        <a href="{% url 'criar_contato' %}" class="btn btn-success">
            <i class="fas fa-plus-circle me-1"></i> Novo Contato
        </a>
    </form>

    <!-- Tabela de Contatos -->
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Setor</th>
                    <th scope="col" class="text-end">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for contato in contatos %}
                    <tr>
                        <td>{{ contato.id }}</td>
                        <td>{{ contato.nome_responsavel }}</td>
                        <td>{{ contato.numero_telefone }}</td>
                        <td>{{ contato.grupo.name }}</td>
                        <td class="text-end">
                            <a href="{% url 'editar_contato' contato.id %}" class="btn btn-sm btn-warning">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a href="{% url 'excluir_contato' contato.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir este contato?');">
                                <i class="fas fa-trash-alt"></i> Excluir
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhum contato encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
{% endblock %}
