{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contatos/listar_contatos.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}
 
{% block content %}
<div class="container mt-4">
    <h1><i class="fas fa-address-book"></i> Lista de Contatos</h1> {# Adicionado ícone e ajustado texto #}
    <form method="get" action="{% url 'listar_contatos' %}" class="search-filter-form">
        <div class="search-input-group">
            <input type="text" name="search" placeholder="Nome ou Telefone do Contato" value="{{ request.GET.search }}" class="form-control me-2" />
            
            <button type="submit" class="btn2 btn2-primary">
                <i class="fas fa-search me-1"></i> Buscar
            </button>
        </div>

        <a href="{% url 'criar_contato' %}" class="btn2 btn2-success">
            <i class="fas fa-plus-circle me-1"></i> Novo Contato
        </a>
    </form>

    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Setor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for contato in contatos %}
                    <tr>
                        <td data-label="ID">{{ contato.id }}</td>
                        <td data-label="Nome">{{ contato.nome_responsavel }}</td>
                        <td data-label="Telefone">{{ contato.numero_telefone }}</td>
                        <td data-label="Setor">{{ contato.grupo.name }}</td>
                        <td class="text-end" data-label="Ações">
                            <a href="{% url 'editar_contato' contato.id %}" class="btn2 btn2-warning btn-sm me-2">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a href="{% url 'excluir_contato' contato.id %}" class="btn2 btn2-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir este contato?');">
                                <i class="fas fa-trash-alt"></i> Excluir
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhum contato encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
{% endblock %}