/* Aplicar tema com base na classe do body */
body.light-mode {
    background-color: var(--background-light);
    color: var(--text-light);
}

body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

/* Estilo dos botões */
button.btn-primary,
a.btn-secondary {
    border-radius: 8px;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s ease;
}

button.btn-primary:hover {
    background-color: #0056b3;
}

a.btn-secondary:hover {
    background-color: #6c757d;
    color: #fff;
}

.btn-warning {
    font-weight: 500;
    border-radius: 6px;
    padding: 6px 12px;
}


.container {
    max-width: 95%;
}


.table thead {
    background-color: #007BFF;
    color: white;
}

.btn-primary {
    background-color: #007BFF;
    border: none;
}

.btn-warning {
    color: white;
    background-color: #FFA500;
    border: none;
}
