{% extends "core/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-lg p-4">
        <h2 class="text-primary mb-4">Detalhes do Relatório</h2>

        <div class="card p-3 bg-light">
            <p><strong>📅 Data do Relatório:</strong> {{ relatorio.adata }}</p>
            <p><strong>💰 Valor Total:</strong> <span class="text-success">R$ {{ relatorio.vrTotal }}</span></p>
            <p><strong>⚖ Peso Total:</strong> <span class="text-warning">{{ relatorio.pesoTotal }} kg</span></p>
        </div>

        <h3 class="mt-4">📜 Itens do Relatório</h3>

        <div class="table-responsive">
            <table class="table table-bordered table-hover mt-3">
                <thead class="table-dark">
                    <tr>
                        <th>Nome do Item</th>
                        <th>Quantidade</th>
                        <th>Relavagens</th>
                        <th>Peso (kg)</th>
                        <th>relavagem (kg)</th>
                        <th>Valor Médio</th>
                       
                    </tr>
                </thead>
                <tbody>
                    {% for item in itens_relatorio %}
                    <tr>
                        <td>{{ item.item_lavanderia.nome }}</td>
                        <td class="text-center">{{ item.qtd_itens }}</td>
                        <td class="text-center">{{ item.qtd_relavagens }}</td>
                        <td class="text-center">{{ item.pesokg }}</td>
                        <td class="text-center">{{ item.relavagemkg }}</td>
                        <td class="text-center text-primary">R$ {{ item.valormedio }}</td>
                 
                        
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center text-muted">Nenhum item encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="text-center mt-4">
            <a href="{% url 'listar_relatorios' %}" class="btn btn-secondary">
                🔙 Voltar para a lista de relatórios
            </a>
        </div>
    </div>
</div>
{% endblock %}
