{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link rel="stylesheet" href="{% static 'css/governanca/relatorios.css' %}">
{% endblock %}

{% block content %}
    <div class="container-wrapper">
        <h2 class="page-title">
            <i class="fas fa-file-invoice"></i> Relatórios de Lavanderia
        </h2>

        <form method="get" action="{% url 'listar_relatorios' %}" class="filter-form">
            <div class="form-group">
                <label for="data_inicio" class="form-label">Data de Início</label>
                <input type="date" name="data_inicio" id="data_inicio"
                       value="{{ request.GET.data_inicio }}" class="form-control">
            </div>

            <div class="form-group">
                <label for="data_fim" class="form-label">Data de Fim</label>
                <input type="date" name="data_fim" id="data_fim"
                       value="{{ request.GET.data_fim }}" class="form-control">
            </div>
            
            <div class="form-group flex-grow-0">
                <button type="submit" class="btn2 btn2-primary">
                    <i class="fas fa-search mr-2"></i> Buscar
                </button>
            </div>

            <div class="form-group flex-grow-0">
                <!-- Botão de Adicionar Novo Relatório -->
                <a href="{% url 'criar_relatorio_lavanderia' %}" class="btn2 btn2-create">
                    <i class="fas fa-plus-circle mr-2"></i> Novo Relatório
                </a>
            </div>
        </form>

        {% if relatorios %}
            <div class="relatorio-grid">
                {% for relatorio in relatorios %}
                    <div class="relatorio-card">
                        <div>
                            <h3><i class="fas fa-calendar-alt"></i> {{ relatorio.adata|date:"d/m/Y" }}</h3>
                            <p><i class="fas fa-dollar-sign"></i> Valor Total: R$ {{ relatorio.vrTotal }}</p>
                            <p><i class="fas fa-weight-hanging"></i> Peso Total: {{ relatorio.pesoTotal }} kg</p>
                        </div>
                        <a href="{% url 'detalhes_relatorio' relatorio.id %}" class="btn2-details">
                            <i class="fas fa-info-circle mr-2"></i> Mais informações
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-reports-message">Nenhum relatório encontrado para os critérios selecionados.</p>
        {% endif %}
    </div>
{% endblock %}
