<!-- templates/core/nao_logado.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Não está logado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Você não está logado</h1>
        <p> Para acessar esta página, faça login primeiro.</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Ir para Login</a>
    </div>
</body>
</html>
