{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/governanca/selecionar.css' %}">
{% endblock %}

{% block content %}
<div class="main-content-wrapper">
        <div class="grid">
            <h2 class="display-4">GOVERNANÇA - SANMA</h2>

            <div class="button-grid">
                <!-- Botão RELATÓRIO LAVANDERIA -->
                <a href="{% url 'listar_relatorios' %}" class="action-button">
                    <i class="fas fa-chart-bar"></i> <!-- Ícone mais relevante para relatório -->
                    <span>RELATÓRIO LAVANDERIA</span>
                </a>
                <!-- Botão ITENS LAVANDERIA -->
                <a href="{% url 'item_lavanderia_list' %}" class="action-button">
                    <i class="fas fa-tshirt"></i> <!-- Ícone mais relevante para itens de lavanderia -->
                    <span>ITENS LAVANDERIA</span>
                </a>
                <!-- Botão CONTROLE DE QUARTOS -->
                <a href="{% url 'dashboard_quartos' %}" class="action-button">
                    <i class="fas fa-bed"></i> <!-- Ícone para quartos -->
                    <span>CONTROLE DE QUARTOS</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
