{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/governanca/selecionar.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Texto explicativo -->
    <div class="text-center mb-4">
        <h2 class="display-4 text-primary">GOVERNANÇA - SANMA</h2>
    </div>

    <div class="d-flex justify-content-center align-items-center" style="height: 60vh; background-color: #f8f9fa;">
        <div class="d-flex justify-content-between align-items-center w-75">
            <!-- Botão PESSOAL -->
            <a href="{% url 'listar_relatorios' %}" class="btn modern-btn senha-pessoal d-flex flex-column align-items-center justify-content-center shadow-lg">
                <i class="fas fa-user" style="font-size: 50px;"></i>  <!-- Ícone acima -->
                <span class="mt-2">RELATÓRIO LAVANDERIA</span>  <!-- Texto abaixo -->
            </a>
            
            <!-- Botão SANMA -->
            <a href="{% url 'item_lavanderia_list' %}" class="btn modern-btn senha-sanma d-flex flex-column align-items-center justify-content-center shadow-lg">
                <i class="fas fa-users" style="font-size: 50px;"></i>  <!-- Ícone acima -->
                <span class="mt-2">ITENS LAVANDERIA</span>  <!-- Texto abaixo -->
            </a>
        </div>
    </div>
</div>
{% endblock %}
