{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/ramais/listar_ramais.css' %}">
{% endblock %}
 
{% block content %}
<div class="container mt-4">
    <h1><i class="fas fa-address-book"></i> Lista de Ramais</h1>
    <!-- Filtro para Ramal Ativo/Inativo e Campo de Busca -->
    <form method="get" action="{% url 'listar_ramais' %}" class="d-flex flex-wrap align-items-center mb-4">
        {% csrf_token %}
        <div class="d-flex align-items-center flex-grow-1">
            <!-- Dropdown de status com envio automático -->
            <select name="status" id="status" class="form-select me-2" style="width: 200px;" onchange="this.form.submit()">
                <option value="todos" {% if request.GET.status == "todos" %}selected{% endif %}>Todos</option>
                <option value="ativos" {% if request.GET.status == "ativos" %}selected{% endif %}>Ativos</option>
                <option value="inativos" {% if request.GET.status == "inativos" %}selected{% endif %}>Inativos</option>
            </select>

            <!-- Campo de busca -->
            <input type="text" name="search" placeholder="Número ou Atendente" value="{{ request.GET.search }}" class="form-control me-2" style="width: 300px;" />

            <!-- Botão de buscar -->
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search me-1"></i>Buscar
            </button>
        </div>

        <!-- Botão de Criar Novo Ramal alinhado à direita -->
        <div class="ms-auto d-flex gap-2">
            <a href="{% url 'baixar_pdf_ramais' %}" class="btn btn-outline-danger">
                <i class="fas fa-file-pdf me-1"></i> Baixar PDF
            </a>
            <a href="{% url 'cadastrar_instrucoes_pdf' %}" class="btn btn-warning">
                <i class="fas fa-pen me-1"></i> Instruções do Rodapé
            </a>
            <a href="{% url 'adicionar_ramal' %}" class="btn btn-success">
                <i class="fas fa-phone-alt me-1"></i> Novo Ramal
            </a>
        </div>
    </form>

    <!-- Tabela de Ramais -->
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Número do Ramal</th>
                    <th>Atendente</th>
                    <th>Setor</th>
                    <th>Linha Completa</th>
                    <th>Status</th>
                    <th scope="col" class="text-end">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for ramal in ramais %}
                <tr>
                    <td>{{ ramal.id }}</td>
                    <td>{{ ramal.numero_ramal }}</td>
                    <td>{{ ramal.atendente }}</td>
                    <td>{{ ramal.grupo.name }}</td>
                    <td>{{ ramal.linha_completa|slice:":4" }} - {{ ramal.linha_completa|slice:"4:8" }}</td>   <!--  separador. -->
                    <td>
                        <!-- Exibindo "Ativo" ou "Inativo" -->
                        {% if ramal.ativo %}
                            <span class="badge bg-success">Ativo</span>
                        {% else %}
                            <span class="badge bg-danger">Inativo</span>
                        {% endif %}
                    </td>    
                    <td class="text-end">
                        <!-- Botões de Editar e Excluir -->
                        <a href="{% url 'editar_ramal' ramal.pk %}" class="btn btn-sm btn-secondary">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a href="{% url 'excluir_ramal' ramal.pk %}" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i> Excluir
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">Nenhum ramal encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Incluindo o CSRF token para uso no JavaScript -->
<script type="text/javascript">
    var csrfToken = "{{ csrf_token }}";
</script>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
{% endblock %}
