{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}?v=1.0">
<link rel="stylesheet" href="{% static 'css/ordem_servico/criar_chamado.css' %}?v=1.0"> 
{% endblock %}


{% block content %}
<button class="sidebar-toggle" id="sidebarToggle">
    <i class="fas fa-bars"></i>
</button>
{% if request.user.is_staff %}
    {% include 'adm_ordem_servico/adm_menu_os.html' %}
{% else %}
    {% include 'ordem_servico/menu_os.html' %}
{% endif %}

<div class="d-flex justify-content-center"> 
    <div class="col-md-6">
        <h2 class="text-center mb-4">Cadastrar Chamado</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col">
                    <label for="assunto" class="d-flex align-items-center">
                        <i class="fas fa-heading me-2"></i>Assunto:
                    </label>
                    <input type="text" id="assunto" name="assunto" class="form-control" value="{{ form.assunto.value|default_if_none:'' }}" required>
                    {% if form.assunto.errors %}
                        <div class="alert alert-danger">
                            {{ form.assunto.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="descricao" class="d-flex align-items-center">
                        <i class="fas fa-pencil-alt me-2"></i>Descrição:
                    </label>
                    <textarea id="descricao" name="descricao" class="form-control" rows="4" required>{{ form.descricao.value|default_if_none:'' }}</textarea>
                    {% if form.descricao.errors %}
                        <div class="alert alert-danger">
                            {{ form.descricao.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="grupo" class="d-flex align-items-center">
                        <i class="fas fa-users me-2"></i>Grupo de Atendimento:
                    </label>
                    <select id="grupo" name="grupo" class="form-control" required>
                        {% for grupo in grupos %}
                            <option value="{{ grupo.id }}" {% if grupo.id == form.grupo.value %}selected{% endif %}>{{ grupo.name }}</option>
                        {% endfor %}
                    </select>
                    {% if form.grupo.errors %}
                        <div class="alert alert-danger">
                            {{ form.grupo.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="grupo_trabalho" class="d-flex align-items-center">
                        <i class="fas fa-users me-2"></i>Grupo de Trabalho:
                    </label>
                    <select id="grupo_trabalho" name="grupo_trabalho" class="form-control" required>
                        {% for grupo_trabalho in grupos_trabalho %}
                            <option value="{{ grupo_trabalho.id }}">{{ grupo_trabalho.nome_grupo }}</option>
                        {% empty %}
                            <option disabled>Nenhum grupo de trabalho disponível</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="prioridade" class="d-flex align-items-center">
                        <i class="fas fa-exclamation-circle me-2" 
                        data-bs-toggle="tooltip" 
                        data-bs-html="true" 
                        title="Tipos de Prioridade:
                            Baixa: Atividades sem impacto operacional imediato, podem ser resolvidas sem pressa.
                            Média: Tarefas que precisam de atenção em até 2 horas úteis, mas não comprometem a operação.
                            Alta: Questões críticas que precisam de solução em até 1 hora útil para evitar problemas operacionais.
                            Urgente: Problemas graves que paralisam a operação e exigem atenção imediata.">
                        </i>Prioridade:
                    </label>
                    <select id="prioridade" name="prioridade" class="form-control" required>
                        <option value="Baixa" {% if form.prioridade.value == 'Baixa' %}selected{% endif %}>Baixa (Sem prazo específico)</option>
                        <option value="Média" {% if form.prioridade.value == 'Média' %}selected{% endif %}>Média (Atendimento em até 2 horas úteis)</option>
                        <option value="Alta" {% if form.prioridade.value == 'Alta' %}selected{% endif %}>Alta (Atendimento em até 1 hora útil)</option>
                        <option value="Urgente" {% if form.prioridade.value == 'Urgente' %}selected{% endif %}>Urgente (Atendimento imediato)</option>
                    </select>
                    {% if form.prioridade.errors %}
                        <div class="alert alert-danger">
                            {{ form.prioridade.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="evidencia" class="d-flex align-items-center">
                        <i class="fas fa-paperclip me-2"></i>Evidências (Fotos, PDFs, etc.):
                    </label>
                    <input type="file" id="evidencia" name="evidencia" class="form-control" accept="image/*,application/pdf,.doc,.docx,.xls,.xlsx" multiple>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">Cadastrar Chamado</button>
                {% if request.user.is_staff %}
                    <a href="{% url 'adm_chamados_abertos' %}" class="btn btn-secondary">Cancelar</a>
                {% else %}
                    <a href="{% url 'chamados_abertos' %}" class="btn btn-secondary">Cancelar</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
