<div class="d-flex">
    <nav id="sidebar" class="bg-dark">
        <div class="p-4">
            <h5>Menu</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'criar_chamado' %}" class="nav-link">
                        <i class="fas fa-plus-circle"></i> Novo Chamado
                    </a>
                </li>
                <li>
                    <a href="{% url 'relatorio_chamados' %}" class="nav-link">
                        <i class="fas fa-file-alt"></i> Relatórios  <!-- Alterado ícone para relatar -->
                    </a>
                </li>
                <li>
                    <a href="{% url 'adm_meus_chamados' %}" class="nav-link">
                        <i class="fas fa-user-tag"></i> Meus Chamados
                    </a>
                </li>
                <li>
                    <a href="{% url 'adm_chamados_abertos' %}" class="nav-link">
                        <i class="fas fa-folder-open"></i> Chamados Abertos
                    </a>
                </li>
                <li>
                    <a href="{% url 'adm_chamados_encerrados' %}" class="nav-link">
                        <i class="fas fa-archive"></i> Chamados Encerrados
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Conteúdo Principal -->

    <div id="main-content" class="p-4 flex-grow-1">
        {% block content %}
        {% endblock %}
    </div>
</div>
