body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    padding-top: 72px; /* Ajuste para compensar a altura da navbar */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1050;
    background-color: #fff; /* Para garantir que a navbar tenha cor fixa */
}

.navbar-brand {
    font-weight: 700;
    color: #007bff !important;
}

.navbar-nav .nav-link {
    color: #333;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.container {
    margin-top: 20px;
}

.alert-custom {
    position: fixed;
    top: 20%; /* Distância do topo */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 80%;
    max-width: 500px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: none; /* Inicialmente escondido */
}
