
/* Custom Styles for Navbar */
.navbar {
    background-color: #4C6B8C; /* Cor de fundo da navbar */

}
body {
    padding-top: 70px; /* ou ajuste conforme a altura real da sua navbar */
}
.navbar .navbar-brand {
    color: #ffffff; /* Cor da marca (logo) */
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #ffffff; /* Cor dos links na navbar */
    padding: 15px 20px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: #36556F; /* Cor de hover com contraste */
    border-radius: 5px;
}

.dropdown-menu {
    background-color: #4C6B8C; /* Cor do fundo do menu dropdown */
    border-radius: 5px;
}

.dropdown-item {
    color: #ffffff; /* Cor dos itens do menu dropdown */
}

.dropdown-item:hover {
    background-color: #36556F; /* Cor de hover para os itens do menu dropdown */
}

/* Estilos para garantir alinhamento correto */
.navbar-toggler {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre tema e hambúrguer */
    border: none;
}

/* Ajuste do botão de alternância de tema */
#theme-toggle {
    padding: 6px 12px;
    font-size: 14px;
}
/* Ajuste do hambúrguer */
.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

/* Ajuste para modo escuro */
body.dark-mode #theme-toggle {
    background-color: #222;
    color: white;
}



.logo-img {
    height: 45px;
    width: auto;
}

