
/* Custom Styles for Navbar */
.navbar {
    background-color: #4C6B8C; /* Cor de fundo da navbar */
}

.navbar .navbar-brand {
    color: #ffffff; /* Cor da marca (logo) */
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #ffffff; /* Cor dos links na navbar */
    padding: 15px 20px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: #36556F; /* Cor de hover com contraste */
    border-radius: 5px;
}

.dropdown-menu {
    background-color: #4C6B8C; /* Cor do fundo do menu dropdown */
    border-radius: 5px;
}

.dropdown-item {
    color: #ffffff; /* Cor dos itens do menu dropdown */
}

.dropdown-item:hover {
    background-color: #36556F; /* Cor de hover para os itens do menu dropdown */
}

.navbar-toggler-icon {
    background-color: #ffffff; /* Cor do ícone de alternância */
}

.logo-img {
    height: 45px;
    width: auto;
}

