/* static/css/dark-theme.css */
body.dark-mode {
    background-color:  #302e2e;
    color: #fff;
}

.navbar-dark {
    background-color: #343a40;
}

.btn-outline-light {
    color: #fff;
    border-color: #fff;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #302e2e;
}
