/* static/css/light-theme.css */
body.light-mode {
    background-color: #f8f9fa;
    color: #000;
}

.navbar-dark {
    background-color: #343a40;
}

.btn-outline-light {
    color: #000;
    border-color: #000;
}

.btn-outline-light:hover {
    background-color: #f8f9fa;
    color: #000;
}
