.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.form-control-lg {
    height: 50px;
    font-size: 1.1rem;
}
.btn-primary {
    background-color: #4C6B8C;
    border-color: #4C6B8C;
    font-size: 1.1rem;
}
.btn-primary:hover {
    background-color: #3e5f73;
    border-color: #3e5f73;
}