
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/registration/register.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="recovery-card">
        <div class="icon-container">
            <div class="lock-icon">
                <i class="fas fa-key"></i>
            </div>
            </div>  
            <h1>Senha Alterada com Sucesso!</h1>
            <p class="subtitle">
                Sua senha foi alterada com sucesso. Agora você pode acessar sua conta utilizando a nova senha.
            </p>
            <div class="back-link">
                <a href="{% url 'login' %}" class="btn btn-primary w-100 py-2">Voltar ao Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
