{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/accounts/listar_usuarios.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Lista de Usuários</h1>
    <!-- Filtro para Ativos/Inativos e Campo de Busca -->
    <form method="get" action="{% url 'listar_usuarios' %}" class="d-flex flex-wrap justify-content-between align-items-center mb-4">
        {% csrf_token %}
        <div class="d-flex align-items-center">
            <!-- Dropdown de status -->
            <select name="status" id="status" class="form-select me-2" style="width: 200px;">
                <option value="todos" {% if request.GET.status == "todos" %}selected{% endif %}>Todos</option>
                <option value="ativos" {% if request.GET.status == "ativos" %}selected{% endif %}>Ativos</option>
                <option value="inativos" {% if request.GET.status == "inativos" %}selected{% endif %}>Inativos</option>
            </select>

            <!-- Campo de busca -->
            <input type="text" name="search" placeholder="Nome, Email ou Usuário" value="{{ request.GET.search }}" class="form-control me-2" style="width: 300px;" />
            
            <!-- Botão de buscar -->
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search me-1"></i>Buscar
            </button>
        </div>

        <!-- Botão de Criar Novo Usuário -->
        <a href="{% url 'cadastrar_usuario' %}" class="btn btn-success">
            <i class="fas fa-user-plus me-1"></i>Novo Usuário
        </a>
    </form>

    <!-- Tabela de Usuários -->
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Nome de Usuário</th>
                    <th>Primeiro Nome</th>
                    <th>Último Nome</th>
                    <th>Email</th>
                    <th>É Staff?</th>   
                    <th>Data de Criação</th>
                    <th>Ativo?</th>
                    <th scope="col" class="text-end">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.first_name }}</td>
                    <td>{{ usuario.last_name }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.is_staff|yesno:"Sim,Não" }}</td>      
                    <td>{{ usuario.date_joined|date:"d/m/Y H:i" }}</td>
                    <td>
                        <!-- Botão interruptor de ativar/inativar -->
                        <label class="switch">
                            <input type="checkbox" data-id="{{ usuario.id }}" class="toggle-status" {% if usuario.is_active %}checked{% endif %}>
                            <span class="slider round"></span>
                        </label>
                    </td>    
                    <td>
                        <!-- Botão de Alterar -->
                        <a href="{% url 'alterar_usuario' user_id=usuario.id %}" class="btn btn-sm btn-secondary">
                            <i class="fas fa-edit"></i> Alterar
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9" class="text-center">Nenhum usuário encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Incluindo o CSRF token para uso no JavaScript -->
<script type="text/javascript">
    var csrfToken = "{{ csrf_token }}";
</script>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<script src="{% static 'js/accounts/listar_usuarios.js' %}"></script>
{% endblock %}
