{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Lista de Canais</h1>

    <!-- Exibir mensagens -->
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Filtro e botão de busca -->
    <form method="get" action="{% url 'listar_canais' %}" class="d-flex flex-wrap justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center">
            <!-- Campo de busca -->
            <input type="text" name="search" placeholder="Número, Título ou Descrição do Canal" value="{{ request.GET.search }}" class="form-control me-2" style="width: 300px;">
            
            <!-- Botão de buscar -->
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search me-1"></i> Buscar
            </button>
        </div>

        <!-- Botão de Adicionar Novo Canal -->
        <a href="{% url 'criar_canal' %}" class="btn btn-success">
            <i class="fas fa-plus-circle me-1"></i>Novo Canal
        </a>

    </form>


    <!-- Tabela de Canais -->
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th scope="col">CANAL</th>
                    <th scope="col">Título</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-end">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for canal in canais %}
                    <tr>
                        <td>{{ canal.numero }}</td>
                        <td>{{ canal.titulo }}</td>
                        <td>
                            {% if canal.status %}
                                <span class="badge bg-success">Ativo</span>
                            {% else %}
                                <span class="badge bg-danger">Inativo</span>
                            {% endif %}
                        </td>
                        <td class="text-end">
                            <a href="{% url 'editar_canal' canal.id %}" class="btn btn-sm btn-warning">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a href="{% url 'excluir_canal' canal.id %}" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash-alt"></i> Excluir
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">Nenhum canal encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
{% endblock %}
