<div class="d-flex">
    <!-- Menu Sidebar -->
    <nav id="sidebar">
        <h5>Menu</h5>
        <ul class="list-unstyled">
            <li><!-- Novo Contrato -->
                <form action="{% url 'criar_contrato' %}" method="get">
                    <input type="hidden" name="status" value="">
                    <button type="submit" class="nav-link ">
                        <i class="fas fa-file-signature me-2"></i> Novo Contrato
                    </button>
                </form>
            </li>
            <li> <!-- Relatórios -->
                <form action="{% url 'listar_contratos_rel' %}" method="get">
                    <input type="hidden" name="status" value="">
                    <button type="submit" class="nav-link">
                        <i class="fas fa-chart-bar me-2"></i> Relatórios
                    </button>
                </form>
            </li>
            <li><!-- Todos os Contratos -->
                <form action="{% url 'listar_contratos' %}" method="get">
                    <input type="hidden" name="status" value="todos">
                    <button type="submit" class="nav-link">
                        <i class="fas fa-folder me-2"></i> Todos os Contratos
                    </button>
                </form>
            </li>
            <li><!-- Contratos Ativos -->
                <form action="{% url 'listar_contratos' %}" method="get">
                    <input type="hidden" name="status" value="ativo">
                    <button type="submit" class="nav-link">
                        <i class="fas fa-folder-open me-2"></i> Contratos Ativos
                    </button>
                </form>
            </li>
            <li> <!-- Contratos Inativos -->
                <form action="{% url 'listar_contratos' %}" method="get">
                    <input type="hidden" name="status" value="inativo">
                    <button type="submit" class="nav-link">
                        <i class="fas fa-folder-minus me-2"></i> Contratos Inativos
                    </button>
                </form>
            </li>
            <li> <!-- Contratos Vencendo (30 Dias) -->
                <form action="{% url 'listar_contratos' %}" method="get">
                    <input type="hidden" name="status" value="vencendo">
                    <button type="submit" class="nav-link ">
                        <i class="fas fa-exclamation-triangle me-2"></i> Vencendo (60 Dias)
                    </button>
                </form>
            </li>
        </ul>
    </nav>
    <!-- Conteúdo Principal -->
    <div id="main-content">
        {% block content %}
        {% endblock %}
    </div>
</div>