<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <h3>Menu</h3>
    </div>
    <ul class="sidebar-menu">
        <li>
            <a href="{% url 'criar_contrato' %}" class="nav-link">
                <i class="fas fa-file-signature me-2"></i> Novo Contrato
            </a>
        </li>
        <li>
            <a href="{% url 'listar_contratos_rel' %}" class="nav-link">
                <i class="fas fa-chart-bar me-2"></i> Relatórios
            </a>
        </li>
        <li>
            <a href="{% url 'listar_contratos' %}?status=todos" class="nav-link">
                <i class="fas fa-folder me-2"></i> Todos os Contratos
            </a>
        </li>
        <li>
            <a href="{% url 'listar_contratos' %}?status=ativo" class="nav-link">
                <i class="fas fa-folder-open me-2"></i> Contratos Ativos
            </a>
        </li>
        <li>
            <a href="{% url 'listar_contratos' %}?status=inativo" class="nav-link">
                <i class="fas fa-folder-minus me-2"></i> Contratos Inativos
            </a>
        </li>
        <li>
            <a href="{% url 'listar_contratos' %}?status=vencendo_60_dias" class="nav-link">
                <i class="fas fa-exclamation-triangle me-2"></i> Vencendo (60 Dias)
            </a>
        </li>
    </ul>
</aside>